// Colors
$-color-electric-red : #e10600;
$-color-cinder : #15151e;
$-color-shark : #1f1f27;
$-color-concrete : #f3f3f3;
$-color-honey-flower : #501d83;


// Typography
$-text-large : 3rem;
$-text-extra-large : 5rem;